In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.colors
import seaborn as sns
from scipy import stats
import math
%matplotlib inline
from sklearn import preprocessing

# Crime Data

In [2]:
fbi = pd.read_csv('C:\\Users\\cocob\\Downloads\\table_82.csv', encoding = "ISO-8859-1")

## Basic Data Info

In [3]:
fbi.head()

,City,Population,Violent crime,Murder and nonnegligent manslaughter,Rape (revised definition)1,Rape (legacy definition)2,Robbery,Aggravated assault,Property crime,Burglary,Larceny- theft,Motor vehicle theft,Arson3
0,Adams Village,1861.0,0.0,0.0,NaN,0.0,0.0,0.0,12.0,2.0,10.0,0.0,0.0
1,Addison Town and Village,2577.0,3.0,0.0,NaN,0.0,0.0,3.0,24.0,3.0,20.0,1.0,0.0
2,Akron Village,2846.0,3.0,0.0,NaN,0.0,0.0,3.0,16.0,1.0,15.0,0.0,0.0
3,Albany,97956.0,791.0,8.0,NaN,30.0,227.0,526.0,4090.0,705.0,3243.0,142.0,NaN
4,Albion Village,6388.0,23.0,0.0,NaN,3.0,4.0,16.0,223.0,53.0,165.0,5.0,NaN

# Data Transformation

In [4]:
import warnings
warnings.filterwarnings(action="ignore", module="scipy", message="^internal gelsd")

In [5]:
fbi.columns.values

array(['City', 'Population', 'Violent\ncrime',
       'Murder and\nnonnegligent\nmanslaughter',
       'Rape\n(revised\ndefinition)1', 'Rape\n(legacy\ndefinition)2',
       'Robbery', 'Aggravated\nassault', 'Property\ncrime', 'Burglary',
       'Larceny-\ntheft', 'Motor\nvehicle\ntheft', 'Arson3'], dtype=object)

In [6]:
fbi.rename(columns={'Murder and\nnonnegligent\nmanslaughter':'Murder', 'Property\ncrime': 'Property_crime'}, inplace=True)

In [15]:
fbi['Population^2'] = (fbi['Population'] ** 2)

In [16]:
fbi['Murder'] = np.where(fbi['Murder']>0, 1, 0)
fbi.head(5)

fbi['Robbery'] = np.where(fbi['Robbery']>0, 1, 0)
fbi.head(5)

,City,Population,Violent crime,Murder,Rape (revised definition)1,Rape (legacy definition)2,Robbery,Aggravated assault,Property_crime,Burglary,Larceny- theft,Motor vehicle theft,Arson3,Population^2
0,Adams Village,1861.0,0.0,0,NaN,0.0,0,0.0,12.0,2.0,10.0,0.0,0.0,3.463321e+06
1,Addison Town and Village,2577.0,3.0,0,NaN,0.0,0,3.0,24.0,3.0,20.0,1.0,0.0,6.640929e+06
2,Akron Village,2846.0,3.0,0,NaN,0.0,0,3.0,16.0,1.0,15.0,0.0,0.0,8.099716e+06
3,Albany,97956.0,791.0,1,NaN,30.0,1,526.0,4090.0,705.0,3243.0,142.0,NaN,9.595378e+09
4,Albion Village,6388.0,23.0,0,NaN,3.0,1,16.0,223.0,53.0,165.0,5.0,NaN,4.080654e+07

In [20]:
data1=pd.DataFrame(fbi, columns=['Population', 'Population^2', 'Murder', 'Robbery'])