In [1]:
import numpy as np
import pandas as pd
import scipy
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.cluster import KMeans
from sklearn.preprocessing import normalize
from sklearn.decomposition import PCA
from sklearn.cluster import MiniBatchKMeans
%matplotlib inline

In [2]:
df = pd.read_csv('C:\\Users\\cocob\\Downloads\\results.csv')

## Data Manipulation

In [4]:
df.dropna()

,division,name,city,gender,age,official,bib,overall,state,genderdiv,net,country
8,1 / 26,"Cassidy, Joshua R.",Toronto,M,27,78.42,W5,1 / 35,ON,1 / 26,78.42,CAN
9,5 / 26,"Schabort, Krige",Cedartown,M,48,83.73,W6,5 / 35,GA,5 / 26,83.73,USA
12,9 / 26,"Bleakney, Adam",Champaign,M,36,92.42,W7,9 / 35,IL,9 / 26,92.42,USA
14,20 / 26,"Mendoza, Saul",Wimberley,M,45,105.35,W8,23 / 35,TX,20 / 26,105.35,USA
16,7 / 26,"Filteau, Michel",St Jean Baptite,M,45,86.83,W9,7 / 35,QC,7 / 26,86.83,CAN
18,10 / 26,"Pike, Aaron L.",Champaign,M,25,92.75,W10,10 / 35,IL,10 / 26,92.75,USA
22,19 / 26,"Chalmers, Ryan",Champaign,M,23,103.72,W12,22 / 35,IL,19 / 26,103.72,USA
23,13 / 26,"Shaw, Kyle",Saskatoon,M,24,96.95,W13,13 / 35,SK,13 / 26,96.95,CAN
25,8 / 26,"Compaore, Jean Paul",Sherbrooke,M,40,91.43,W14,8 / 35,QC,8 / 26,91.43,CAN
28,15 / 26,"Ray, Bradley F.",Loveland,M,43,97.93,W15,17 / 35,CO,15 / 26,97.93,USA
29,14 / 26,"Siemann, Brian",Savoy,M,22,97.13,W16,14 / 35,IL,14 / 26,97.13,USA
31,4 / 4335,"Hartmann, Jason",Boulder,M,31,134.52,17,4 / 21616,CO,4 / 12621,134.52,USA
33,17 / 26,"Swoverland, Joshua R.",Savoy,M,20,102.98,W17,20 / 35,IL,17 / 26,102.98,USA
36,16 / 26,"Dodson, Travis",3-101,M,26,98.52,W19,18 / 35,IL,16 / 26,98.52,USA
38,18 / 26,"Park, Peter",Savoy,M,34,103.35,W20,21 / 35,IL,18 / 26,103.35,USA
39,12 / 4335,"Reyes, Sergio",Palmdale,M,30,142.10,20,12 / 21616,CA,12 / 12621,142.10,USA
40,23 / 26,"Kozarek, Robert",Champaign,M,23,114.77,W21,28 / 35,IL,23 / 26,114.77,USA
41,70 / 4599,"Akor, Mary A.",Hawthorne,F,35,194.17,F22,1291 / 21616,CA,87 / 8995,194.17,USA
42,31 / 4335,"Greenless, Tommy",Walnut Creek,M,29,154.13,22,39 / 21616,CA,36 / 12621,154.13,USA
43,19 / 4599,"Philbrook, Lauren",Hopkinton,F,24,179.93,F23,527 / 21616,MA,27 / 8995,179.93,USA
44,24 / 26,"Hulin, Benjamin R.",Park City,M,30,131.98,W23,29 / 35,UT,24 / 26,131.98,USA
45,12 / 4599,"Miller, Shannon M.",Jacksonville,F,27,175.78,F25,364 / 21616,FL,16 / 8995,175.78,USA
46,21 / 26,"Kajlich, Andre J.",Seattle,M,32,106.60,W25,24 / 35,WA,21 / 26,106.60,USA
47,49 / 4335,"Randall, Glenn",Mesa,M,25,157.22,26,61 / 21616,CO,55 / 12621,157.22,USA
48,26 / 26,"Gallego, George",New York,M,44,145.55,W26,32 / 35,NY,26 / 26,145.55,USA
49,25 / 26,"Hawkins, Peter E.",Malverne,M,47,137.43,W28,31 / 35,NY,25 / 26,137.43,USA
51,11 / 4599,"Dionne, Hilary K.",Charlestown,F,26,171.93,F29,256 / 21616,MA,15 / 8995,171.93,USA
52,22 / 26,"Grassi, David",Champaign,M,20,106.63,W29,25 / 35,IL,22 / 26,106.63,USA
53,21 / 4335,"Krong, Jake",Salt Lake City,M,27,150.35,29,23 / 21616,UT,23 / 12621,150.35,USA
54,19 / 4335,"Bedoya, David",Somerville,M,35,149.57,30,21 / 21616,MA,21 / 12621,149.57,USA
...,...,...,...,...,...,...,...,...,...,...,...,...
21622,1438 / 1521,"Quinn, Robyn L.",Milton,F,40,350.30,26829,20223 / 21616,MA,8304 / 8995,344.93,USA
21623,4467 / 4599,"Starr, Naomi E.",Boston,F,31,386.77,26830,21037 / 21616,MA,8718 / 8995,376.00,USA
21624,1707 / 1881,"Rausa, Benjamin",Panama City,M,52,331.18,26832,19216 / 21616,FL,11416 / 12621,322.53,USA
21625,1557 / 2019,"Dehart, Jim",Natick,M,41,273.77,26833,13530 / 21616,MA,8612 / 12621,266.17,USA
21626,3741 / 4335,"McCabe, Patrick",Watertown,M,34,303.18,26834,17350 / 21616,MA,10485 / 12621,295.83,USA
21627,4010 / 4335,"Page, Jeff",West Roxbury,M,34,338.48,26835,19376 / 21616,MA,11498 / 12621,325.70,USA
21628,2981 / 4335,"Lanigan, Ryan R.",Reading,M,23,253.58,26836,10413 / 21616,MA,7093 / 12621,249.18,USA
21629,1920 / 2019,"Rubano, Joel R.",Cambridge,M,41,356.60,26838,20142 / 21616,MA,11877 / 12621,343.00,USA
21630,1332 / 1521,"McNeil, Nora G.",North Attleboro,F,40,316.23,26841,18297 / 21616,MA,7330 / 8995,307.87,USA
21631,4087 / 4335,"Verrelli, Sandino",Beacon Falls,M,37,347.68,26842,19793 / 21616,CT,11717 / 12621,334.40,USA
21632,3041 / 4599,"Nepert, Dale L.",Malden,F,35,279.20,26843,14275 / 21616,MA,5312 / 8995,270.58,USA
21633,3617 / 4335,"Sheehan, Ryan P.",Portsmouth,M,35,294.18,26844,16444 / 21616,NH,10024 / 12621,287.55,USA
21634,3927 / 4335,"Sexton, Matthew G.",Malden,M,37,323.60,26845,18770 / 21616,MA,11210 / 12621,314.98,USA
21635,3276 / 4599,"Murray, Rachel A.",Boston,F,23,290.37,26846,15453 / 21616,MA,5933 / 8995,279.15,USA
21636,4180 / 4599,"Smith, Emily R.",Golden,F,38,345.22,26847,19962 / 21616,CO,8164 / 8995,337.87,USA
21637,2412 / 4599,"Hargrove, Lydia J.",Hoover,F,32,258.55,26848,11456 / 21616,AL,3832 / 8995,254.72,USA
21638,1054 / 1080,"Boles, Richard",Medway,M,58,409.45,26850,21295 / 21616,MA,12452 / 12621,394.73,USA
21639,3777 / 4335,"Phelps, Samuel",Providence,M,32,307.75,26851,17658 / 21616,UT,10635 / 12621,299.25,USA
21640,4011 / 4335,"Camaj, Simon",Naperville,M,38,330.53,26852,19378 / 21616,IL,11500 / 12621,325.83,USA
21641,1304 / 1521,"Cutler, Amy C.",Marblehead,F,43,311.22,26853,17930 / 21616,MA,7159 / 8995,302.85,USA
21642,3789 / 4335,"Gonzalez, Michael P.",Boston,M,20,310.15,26854,17709 / 21616,MA,10667 / 12621,299.85,USA
21643,1158 / 4335,"Mullins, Padraig",Cambridge,M,30,204.83,26855,1901 / 21616,MA,1729 / 12621,200.75,USA
21644,3336 / 4335,"Jones, Charles R.",Lexington,M,27,279.62,26856,13943 / 21616,MA,8801 / 12621,268.60,USA
21645,1658 / 1881,"Botelho, Joe M.",New Bedford,M,50,315.02,26857,18560 / 21616,MA,11100 / 12621,312.02,USA
21646,1275 / 1442,"McKelvey, Jill C.",Ashland,F,45,326.92,26859,19164 / 21616,MA,7770 / 8995,321.65,USA
21647,3838 / 4335,"Stracqualursi, Thomas",Taunton,M,37,308.47,26860,18176 / 21616,MA,10900 / 12621,306.25,USA
21648,1188 / 1881,"Synan, Thomas J.",Bedford,M,53,275.93,26861,13181 / 21616,NH,8448 / 12621,264.10,USA
21649,2118 / 2255,"Scannell, Michael J.",West Roxbury,M,46,324.25,26863,18995 / 21616,MA,11314 / 12621,318.70,USA
21650,4327 / 4335,"Skinner, Edward J. IV",Dorchester,M,38,433.85,26864,21546 / 21616,MA,12581 / 12621,430.52,USA
21651,3530 / 4335,"Miller, Casey A.",Urbandale,M,36,285.20,26866,15784 / 21616,IA,9679 / 12621,282.15,USA

In [9]:
df2 = df.drop(['name', 'city', 'gender', 'bib', 'state', 'country', 'overall', 'division', 'genderdiv'], axis=1)
df2.head()

   age official     net
0   41    83.45   83.45
1   27   142.93  142.93
2   39    84.38   84.38
3   31    81.65   81.65
4   38    83.43   83.43

## K-Means

In [12]:
X_norm = normalize(df2)

# Reduce it to two components.
df2_pca = PCA(2).fit_transform(X_norm)

y_pred = KMeans(n_clusters=3, random_state=10).fit_predict(df2_pca)

# Plot the solution.
plt.scatter(df2['age'], df2['official'], c=y_pred)
plt.show()

ValueError: could not convert string to float: '-'

## Mean-Shift

In [10]:
from sklearn.cluster import MeanShift, estimate_bandwidth

bandwidth = estimate_bandwidth(df2, quantile=0.2, n_samples=500)

# Declare and fit the model.
ms = MeanShift(bandwidth=bandwidth, bin_seeding=True)
ms.fit(df2)

# Extract cluster assignments for each data point.
labels = ms.labels_

# Coordinates of the cluster centers.
cluster_centers = ms.cluster_centers_

# Count our clusters.
n_clusters_ = len(np.unique(labels))

print("Number of estimated clusters: {}".format(n_clusters_))

ValueError: could not convert string to float: '-'