In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from scipy.ndimage import convolve
from sklearn import linear_model, datasets, metrics
from sklearn.model_selection import train_test_split
from sklearn.neural_network import BernoulliRBM
from sklearn.pipeline import Pipeline

In [2]:
digi= datasets.load_digits()

In [3]:
print(digi)

{'data': array([[ 0.,  0.,  5., ...,  0.,  0.,  0.],
       [ 0.,  0.,  0., ..., 10.,  0.,  0.],
       [ 0.,  0.,  0., ..., 16.,  9.,  0.],
       ...,
       [ 0.,  0.,  1., ...,  6.,  0.,  0.],
       [ 0.,  0.,  2., ..., 12.,  0.,  0.],
       [ 0.,  0., 10., ..., 12.,  1.,  0.]]), 'target': array([0, 1, 2, ..., 8, 9, 8]), 'target_names': array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9]), 'images': array([[[ 0.,  0.,  5., ...,  1.,  0.,  0.],
        [ 0.,  0., 13., ..., 15.,  5.,  0.],
        [ 0.,  3., 15., ..., 11.,  8.,  0.],
        ...,
        [ 0.,  4., 11., ..., 12.,  7.,  0.],
        [ 0.,  2., 14., ..., 12.,  0.,  0.],
        [ 0.,  0.,  6., ...,  0.,  0.,  0.]],

       [[ 0.,  0.,  0., ...,  5.,  0.,  0.],
        [ 0.,  0.,  0., ...,  9.,  0.,  0.],
        [ 0.,  0.,  3., ...,  6.,  0.,  0.],
        ...,
        [ 0.,  0.,  1., ...,  6.,  0.,  0.],
        [ 0.,  0.,  1., ...,  6.,  0.,  0.],
        [ 0.,  0.,  0., ..., 10.,  0.,  0.]],

       [[ 0.,  0.,  0., ..., 12.,  0.,  0.],
        [ 0.,  0.,  3., ..., 14.,  0.,  0.],
        [ 0.,  0.,  8., ..., 16.,  0.,  0.],
        ...,
        [ 0.,  9., 16., ...,  0.,  0.,  0.],
        [ 0.,  3., 13., ..., 11.,  5.,  0.],
        [ 0.,  0.,  0., ..., 16.,  9.,  0.]],

       ...,

       [[ 0.,  0.,  1., ...,  1.,  0.,  0.],
        [ 0.,  0., 13., ...,  2.,  1.,  0.],
        [ 0.,  0., 16., ..., 16.,  5.,  0.],
        ...,
        [ 0.,  0., 16., ..., 15.,  0.,  0.],
        [ 0.,  0., 15., ..., 16.,  0.,  0.],
        [ 0.,  0.,  2., ...,  6.,  0.,  0.]],

       [[ 0.,  0.,  2., ...,  0.,  0.,  0.],
        [ 0.,  0., 14., ..., 15.,  1.,  0.],
        [ 0.,  4., 16., ..., 16.,  7.,  0.],
        ...,
        [ 0.,  0.,  0., ..., 16.,  2.,  0.],
        [ 0.,  0.,  4., ..., 16.,  2.,  0.],
        [ 0.,  0.,  5., ..., 12.,  0.,  0.]],

       [[ 0.,  0., 10., ...,  1.,  0.,  0.],
        [ 0.,  2., 16., ...,  1.,  0.,  0.],
        [ 0.,  0., 15., ..., 15.,  0.,  0.],
        ...,
        [ 0.,  4., 16., ..., 16.,  6.,  0.],
        [ 0.,  8., 16., ..., 16.,  8.,  0.],
        [ 0.,  1.,  8., ..., 12.,  1.,  0.]]]), 'DESCR': "Optical Recognition of Handwritten Digits Data Set\n===================================================\n\nNotes\n-----\nData Set Characteristics:\n    :Number of Instances: 5620\n    :Number of Attributes: 64\n    :Attribute Information: 8x8 image of integer pixels in the range 0..16.\n    :Missing Attribute Values: None\n    :Creator: E. Alpaydin (alpaydin '@' boun.edu.tr)\n    :Date: July; 1998\n\nThis is a copy of the test set of the UCI ML hand-written digits datasets\nhttp://archive.ics.uci.edu/ml/datasets/Optical+Recognition+of+Handwritten+Digits\n\nThe data set contains images of hand-written digits: 10 classes where\neach class refers to a digit.\n\nPreprocessing programs made available by NIST were used to extract\nnormalized bitmaps of handwritten digits from a preprinted form. From a\ntotal of 43 people, 30 contributed to the training set and different 13\nto the test set. 32x32 bitmaps are divided into nonoverlapping blocks of\n4x4 and the number of on pixels are counted in each block. This generates\nan input matrix of 8x8 where each element is an integer in the range\n0..16. This reduces dimensionality and gives invariance to small\ndistortions.\n\nFor info on NIST preprocessing routines, see M. D. Garris, J. L. Blue, G.\nT. Candela, D. L. Dimmick, J. Geist, P. J. Grother, S. A. Janet, and C.\nL. Wilson, NIST Form-Based Handprint Recognition System, NISTIR 5469,\n1994.\n\nReferences\n----------\n  - C. Kaynak (1995) Methods of Combining Multiple Classifiers and Their\n    Applications to Handwritten Digit Recognition, MSc Thesis, Institute of\n    Graduate Studies in Science and Engineering, Bogazici University.\n  - E. Alpaydin, C. Kaynak (1998) Cascading Classifiers, Kybernetika.\n  - Ken Tang and Ponnuthurai N. Suganthan and Xi Yao and A. Kai Qin.\n    Linear dimensionalityreduction using relevance weighted LDA. School of\n    Electrical and Electronic Engineering Nanyang Technological University.\n    2005.\n  - Claudio Gentile. A New Approximate Maximal Margin Classification\n    Algorithm. NIPS. 2000.\n"}

In [4]:
X = np.asarray(digi.data, 'float32')
X, Y = nudge_dataset(X, digits.target)
#X = (X - np.min(X, 0)) / (np.max(X, 0) + 0.0001)  # 0-1 scaling

NameError: name 'nudge_dataset' is not defined

In [5]:
from PIL import Image

image = Image.open('C:\\Users\\cocob\\Downloads\\flowers\\flowers\\daisy\\5547758_eea9edfd54_n.jpg')
image.show()

## Creating Columns

In [6]:
X = np.asarray(image, 'float32')
#print(X)

X.flatten()
#col= np.reshape(X, 1)
#X, Y = nudge_dataset(X, image.target)

array([ 97., 131.,  55., ...,  17.,  30.,  13.], dtype=float32)

In [7]:
x2 = np.transpose(X)

In [8]:
len(X)

232

In [9]:
label = np.repeat(1, 232)

In [10]:
L2 = np.transpose(label)

In [11]:
df = pd.DataFrame([x2 , L2])
df2 = np.transpose(df)

In [12]:
df.head()

                                                   0
0  [[[97.0, 108.0, 112.0, 120.0, 130.0, 138.0, 14...
1  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...

## Using multiple Images to create columns

In [13]:
import os
imagedir = 'C:\\Users\\cocob\\Downloads\\flowers\\flowers\\daisy'
imagelist = os.listdir('C:\\Users\\cocob\\Downloads\\flowers\\flowers\\daisy')

In [14]:
for file in imagelist:
#create the path, open the impage, create the array, flatten the array, and the df
    ip = np.asarray(Image.open(os.path.join(imagedir, file))).flatten()
    #ip.flatten()
    #df3 = pd.DataFrame([ip])

In [15]:
print(ip)

[128 123  94 ...  63  98  30]

In [16]:
len(ip)

129600

In [17]:
df3 = pd.DataFrame([ip])

In [18]:
df3['Class'] = 'daisy'

In [19]:
df3.head()

,0,1,2,3,4,5,6,7,8,9,...,129591,129592,129593,129594,129595,129596,129597,129598,129599,Class
0,128,123,94,131,126,97,132,128,101,131,...,101,129,80,80,111,52,63,98,30,daisy

In [22]:
imagedir = 'C:\\Users\\cocob\\Downloads\\flowers\\flowers\\dandelion'
imagelis = os.listdir('C:\\Users\\cocob\\Downloads\\flowers\\flowers\\dandelion')

In [29]:
from path import path 
p = path('C:\\Users\\cocob\\Downloads\\flowers\\flowers\\dandelion') 

for f in p.files(pattern='*.jpg')
    print f

SyntaxError: invalid syntax (<ipython-input-29-28694e04165c>, line 3)

In [31]:
import pathlib

imagelist = list(pathlib.Path('C:\\Users\\cocob\\Downloads\\flowers\\flowers\\dandelion').glob('*.jpg'))

In [32]:
for file in imagelist:
    ip2 = np.asarray(Image.open(os.path.join(imagedir, file))).flatten()

In [34]:
df3 = pd.DataFrame([ip2])